@media only screen and (max-width: 850px) {
  .inner {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: -5rem;
    padding: 1rem 2rem;
  }
  .information {
    margin-top: -10rem;
  }
  .bottom-wrap {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-items: center;
    text-align: center;
    margin-left: -5rem;
  }
}
