section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://eu.patagonia.com/dw/image/v2/bdjb_PRD/on/demandware.static/-/Library-Sites-PatagoniaShared/default/dw1644d554/images/homepage/2560x1440_38520_bsbl_shadow1.jpg?q=90&);
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes mymove {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 200px;
    opacity: 1;
  }
}

.content {
  position: relative;
  justify-content: center;
  text-align: center;
  width: 60%;
  top: 30%;
  left: 20.5%;
  p {
    width: 100%;
    margin: 0 auto;
  }
}

.t-shirt {
  font-size: 64px;
  color: $text-white;
  font-family: 'avenir-next-lt-pro', sans-serif;
  font-weight: bold;
  line-height: 72px;
}

.farming {
  font-weight: 600;
  line-height: 35px;
  color: $text-white;
  font-size: 20px;
  font-family: 'avenir-next-lt-pro', sans-serif;
}

.learn-m {
  padding: 1.2rem 3.3rem;
  margin-top: 1rem;
  border-radius: 3rem;
  border: none;
  color: $text-black;
  font-family: 'avenir-next-lt-pro', sans-serif;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

.icon-chevron-down {
  height: 11px;
  width: 17px;
  cursor: pointer;
  position: absolute;
  bottom: 16%;
  left: 50%;
  margin: 0 auto;
  animation: fadeIn 1s infinite alternate;
}
